.mainContainer {
  width: 100%;
  height: 100%;
  border: 3px white solid;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8em 1fr 8em 2.5em;
  gap: 0px 0px;
  grid-template-areas:
    "system"
    "chat"
    "input"
    "apikey";
  justify-content: space-between;
}

/** System 設定 **/
.chatSystemMessageContainer {
  margin: 0.5em;
  grid-area: system;
}

.systemMessageBox {
  width: 100%;
  padding: 0.5em;
  max-width: 100%;
  height: 100%;
}

/** Chat画面 **/
.chatMessageDisplayContainer {
  margin: 0;
  padding: 0.5em;
  grid-area: chat;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;

  overflow-x: hidden;
  overflow-y: auto;
}

.userChatMessages {
  margin: 0.3em 0;
}

.chatMessages {
  margin: 0.3em 0;
  padding: 0.5em;
  background-color: #ddd;
  color: #666;
  border: 1px solid gray;
}

.errorMessages {
  margin: 0.3em 0;
  color: red;
}

.chatBoder {
  width: 100%;
}

/** 入力画面 **/
.chatMessageOutContainer {
  margin: 0.5em;
  grid-area: input;
  display: flex;
  flex-direction: row;
}

.chatMessageBox {
  padding: 0.5em;
  flex-grow: 1;
  height: 100%;
  vertical-align: top;
}

.chatMessageOutButton {
  margin-left: 0.5em;
  width: 9em;
  height: 100%;
  vertical-align: top;
}

/** apiKey入力 **/
.apiInputContainer {
  grid-area: apikey;
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
}
.apiInputBox {
  flex-grow: 1;
  padding: 0.5em;
}
.apiSaveButton {
  width: 4em;
}
